.editorpanel {
    position: absolute;
    left: 20px;
    width: 300px;
    top: 20px;
    bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2); //border-radius: 5px 5px 0 0;
    overflow: hidden;
    .paint {
        position: absolute;
        width: 100%;
        height: 100%;
        .form {
            display: flex;
            >span {
                width: 82px;
                line-height: 48px;
            }
        }
        .title {
            background-position: 0 center;
            background-repeat: no-repeat;
            padding-left: 24px;
            margin-left: 18px;
        }
        .pointer {
            background-image: url('../../assets/指针.png');
        }
        .icon {
            background-image: url('../../assets/图标.png');
        }
        .painter {
            background-image: url('../../assets/绘制元素.png');
        }
    }
}

.itemcontent {
    display: flex;
    align-items: center;
    p {
        width: 35%;
        padding-right: 15px;
        text-align: right;
    }
    .painttype {
        display: flex;
        align-items: center;
        height: 32px;
        .typerect {
            height: 32px;
            width: 32px;
            background: url("../../assets/绘制矩形.png") no-repeat center;
            background-size: 70%;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 5px;
        }
        .typerect_sel {
            background: url("../../assets/绘制矩形_sel.png") no-repeat center;
            background-size: 70%;
            background-color: #2090F1; // border: 1px solid #2090F1;
        }
        .typecircle {
            height: 32px;
            width: 32px;
            background: url("../../assets/绘制圆形.png") no-repeat center;
            background-size: 70%;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 5px;
        }
        .typecircle_sel {
            background: url("../../assets/绘制圆形_sel.png") no-repeat center;
            background-size: 70%;
            background-color: #2090F1; // border: 1px solid #2090F1;
        }
        .typepolygon {
            height: 32px;
            width: 32px;
            background: url("../../assets/绘制多边形.png") no-repeat center;
            background-size: 70%;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 5px;
        }
        .typepolygon_sel {
            background: url("../../assets/绘制多边形_sel.png") no-repeat center;
            background-size: 70%;
            background-color: #2090F1; // border: 1px solid #2090F1;
        }
    }
}