.map {
    position: absolute;
    left: 360px;
    right: 20px;
    top: 20px;
    bottom: 20px;
}

.mapview {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
}

.dataModal {
    .content {
        position: relative;
        max-height: 500px;
        height: 500px;
        .mapLayer {
            height: 100%;
            margin-right: 50px;
            position: relative;
            overflow-y: auto;
            .dataString {
                padding-left: 16px;
            }
        }
    }
}